---
Language: Cpp
BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: GNU
SpaceAfterCStyleCast: true
SpaceBeforeParens: Never
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
BreakStringLiterals: true
ContinuationIndentWidth: 4
IndentCaseLabels: true
PointerAlignment: Right
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: Cpp11